button {
  display: inline-block;
  background-color: var(--first-color);
  color: var(--white-color);
  font-weight: 600;
  padding: 1rem 1.5rem;
  transition: box-shadow .4s;
}

.featured__card {
  position: relative;
  text-align: center;
  background-color: var(--container-color);
  padding: 2rem;
  overflow: hidden;
  border: 2px solid var(--border-color);
  transition: border .4s, background-color .4s
}

.featured__img {
  width: 150px;
  margin: 0 auto .75rem;
}

.featured__title {
  font-size: 
  margin-bottom: .5rem;
}