button {
  display: inline-block;
  background-color: var(--first-color);
  color: var(--white-color);
  font-weight: 600;
  padding: 1rem 1.5rem;
  transition: box-shadow .4s;
}

.swiper-button-prev,
.swiper-button-next {
  color: var(--first-color) !important;
}

.swiper-pagination-bullet-active {
  background: var(--first-color) !important;
}

.featured__card {
  position: relative;
  text-align: center;
  background-color: var(--container-color);
  padding: 2rem;
  overflow: hidden;
  border: 2px solid var(--border-color);
  transition: border .4s, background-color .4s
}

.featured__img {
  width: 150px;
  margin: 0 auto .75rem;
  box-shadow: -4px 5px 7px rgba(0, 0, 0, 0.4);
}

.featured__title {
  font-size: var(--h2-font-size);
  margin-bottom: .5rem;
}

.book__author {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: .75rem;
  margin-bottom: 1.25rem;
}

.author {
  color: var(--title-color);
}

.featured--card .button {
  cursor: pointer;
}

/* featured swiper */