
.container{
  width: 1100px;
  margin-left: 160px;
  margin-right: 160px;
  position: static;
  /* transition: 1s; */
}


#image{
  height: 300px;
  width: 300px;
  position: relative;
  top: -20px;
  left: 230px;
  border-radius: 50%;
  
}
.parag{
  font-family: cursive;
  height: 150px;
  width: 500px;
  position: relative;
  left: 580px;
  bottom: 300px;
}
/* .container:hover{
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
} */
#title{
  color: black;
  text-align: center;
  margin-top: 30px;
  transition: 3s;
  position: relative; 
  bottom: 28px;
   
}
#title:hover{
  color:hsl(230, 16%, 45%);

}

@media (max-width: 768px) {
  .container{
    height: 850px;
    width: 100%;
    margin-bottom: 80px;
    
  }
  #image {
    display: none;
    /* height: 250px;
    width: 100%;
    top: 0;
    left: 0;
    margin-bottom: 15px; */

  }

 .parag {
    height: 100px;
    width: 410px;
    position: static;
    left: 0;
    bottom: 0;
  }
  .parag p{
    margin: 10px;
  }

  
}

@media (min-width: 768px) and (max-width: 991px) {
  .container{
    height: 750px;
    width: 100%;
    margin-bottom: 30px;
    margin-top: 70px;
  }
  #image {
  border-radius: 50%;
   height: 300px;
   width: 300px;
   position: absolute;
   top: 980px;
   left: 240px;
  }

 .parag p{
    height: 550px;
    width: 480px;
    position: absolute;
    top: 570px;
    left: -450px;
     }
 
}
@media (min-width: 992px) and (max-width: 1199px) {
  .container{
    height: 500px;
    width: 1100px;
    margin: 60px;
  }
  .parag{
    font-family: cursive , sans-serif;
    position: absolute;
    top: 800px;
    left:450px;
  }
  #image{
    position: absolute;
    top: 800px;
    right: 20px;
    width: 350px;
    height: 270px ;
    left: 60px;
      }
}
@media (min-width: 1200px) 
{
.container{
  height: 500px;
  width: 100%;
  margin-bottom: 30px;
} 
.parag{
  margin-right: 70px;

}

}
  