*{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  }
  :root{
    
    --first-color: hsl(230, 62%, 56%);
    --title-color: hsl(230, 70%, 16%);
    --text-color: hsl(230, 16%, 45%);
    --border-color: hsl(230, 50%, 90%);
    --white-color: hsl(0, 0%, 100%);
    --body-color: hsl(230, 100%, 96%);
    --container-color: hsl(230, 100%, 97%);
  
  }
  html{
    scroll-behavior: smooth;
  }
  body{
    font-family: "Open Sans", sans-serif;
    background-color: var(--body-color) !important;
  }
  ul{
    list-style: none;
  }
  .container{
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 35px;
    margin-right: auto;
    margin-left: auto;
  }
  /* Small */
  @media (min-width: 768px) {
    .container {
      width: 750px;
    }
  }
  /* Medium */
  @media (min-width: 992px) {
    .container {
      width: 970px;
    }
  }
  /* Large */
  @media (min-width: 1200px) {
    .container {
      width: 1170px;
    }
  }
  
   header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
   }
  
   header .logo img{
    height:55px;
   }
  header nav {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  
  }
   header nav ul{
  display: flex;
  
   }
   header nav ul li a {
    display: block;
    padding: 15px;
    text-decoration: none;
    font-size: 15px;
    transition: 0.3s;
    color: var(--title-color);
   }
  
   header nav .form{
  
  width: 40px;
  height: 30px;
  position: relative;
  margin-left: 45px;
  top: -5px;
  
   }
  .form i{
    cursor: pointer;
  
  }
  
  
  .landing {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding-left: 15px;
    padding-right: 15px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 60px;
   }
   .landing img{
    height: 400px;
    padding-right: 20px;
   }
   .landing .content{
    padding-left: 50px;
   }
   .landing .content h1{
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   color: var(--title-color);
   }
   .landing .content p{
   line-height: 1.6;
   width: 500px;
   color: var(--text-color);
  
    }
   
  